nav {
    height: 60px;
    background-color: lightgray;
}

div {
    display: block;
}

.inline-block{
    display: inline-block;
    padding: 20px;
}

.left {
    height: 400px;
    width: 25%;
    float: left;
    text-align: center;
    padding-top: 20px;
    background-color: lightsalmon;
}

.right {
    height: 800px;
    width: 75%;
    float: left;
    text-align: left;
    background-color: lightskyblue;
    padding-top: 20px;
}

.section {
    display: block;
}

h1 {
    font-size: 36px;
    font-family: 'Kiwi Maru', serif;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

p {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    width: 90%;
}

.image {
    padding-left: 40px;
}

.right-column1 {
    float: left;
    padding-right: 20px;
}